{% extends "base.html" %}
{% load static %}

{% block title %}Книги за дату{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        {% if dates.has_previous %}
            <a class="button button-primary" style="margin: 8px" href="/books/{{ dates.url_previous }}/">
                ⟵ {{ dates.previous_date }}
            </a>
        {% endif %}

        {% if dates.has_next %}
            <a class="button button-primary" style="margin: 8px" href="/books/{{ dates.url_next }}/">
                {{ dates.next_date }} ⟶
            </a>
        {% endif %}
    </div>
{% endblock %}